<!-- <p *ngFor="let user of users" class="text-danger">{{user.email}}</p> -->
<div class="container mt-5">
          <h3 class="text-center">Liste des utilisateurs</h3>
  <div class="row ">
    <div class="col-4 mt-2" *ngFor="let user of users">

      <div class="card shadow" >
        <div class="card-body">
          <p class="card-text"><span class="fw-bold">Nom:</span> {{user.name}}</p>
          <p class="card-text"><span class="fw-bold">Email:</span> {{user.email}}</p>
          <p class="card-text"><span class="fw-bold">Addresse:</span> {{user.address.street}}</p>
          <p class="card-text"><span class="fw-bold">Telephone:</span> {{user.phone}}</p>

        </div>
      </div>
    </div>
  </div>
</div>
